.stub-main-style-1 {
  height: 65px;
  width: 100%;
  clear: both;
}

.font-open-sans-syle-1 {
  font-family: 'Open Sans';
  font-size: 0.5rem;
}

.filter-duble-field-main-style-1 {
  padding: 0px;
  margin: 0px;
}